[Unit]
Description=Mangadex @ Home client
After=network.target

[Service]
User={{ mdath_service_user }}
Group={{ mdath_service_user }}
Nice=-5
WorkingDirectory={{ working_directory }}
ExecStart=/usr/bin/java -Dfile-level=info -Dstdout-level=warn -jar mangadex.jar
KillSignal=SIGINT
TimeoutSec=240s

[Install]
WantedBy=multi-user.target
